body{
    background-color: #FFF3E0;
}

header {
    background-color: orangered;
    height: 10%;
}

.logo {
    height: 5%;
    width: 5% ;
    text-align: left;
}

.lista {
    color: white;
    text-align: right;
    align-items: end;
}