body{
    background-color: #FFF3E0;
}

ul {
    color: orangered;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: end;
    padding: 16;
}
